In [1]:
import pandas as pd

In [2]:
data = {'name': ['Peter', 'Sergey', 'Alex', 'John'],
        'Departament': ['Cyber', 'Teacher', 'IT', 'Teacher'],
        'Salary': [45000, 35000, 53000, 35000]}

df = pd.DataFrame(data)  # Создаём DataFrame
print(df)

     name Departament  Salary
0   Peter       Cyber   45000
1  Sergey     Teacher   35000
2    Alex          IT   53000
3    John     Teacher   35000

In [8]:
df.loc[1]

name            Sergey
Departament    Teacher
Salary           35000
Name: 1, dtype: object

In [9]:
df.iloc[-1,0]

'John'

In [15]:
print(f'средняя зарплата в компании: {df["Salary"].mean():.2f}')

средняя зарплата в компании: 42000.00